@page "/activities"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="activities/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Activity">
    <PropertyColumn Property="activity => activity.TripId" />
    <PropertyColumn Property="activity => activity.ActivityName" />
    <PropertyColumn Property="activity => activity.Description" />
    <PropertyColumn Property="activity => activity.Address" />
    <PropertyColumn Property="activity => activity.DateCreated" />
    <PropertyColumn Property="activity => activity.DataUpdated" />

    <TemplateColumn Context="activity">
        <a href="@($"activities/edit?id={activity.Id}")">Edit</a> |
        <a href="@($"activities/details?id={activity.Id}")">Details</a> |
        <a href="@($"activities/delete?id={activity.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelPlanningContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
