@page "/trips"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<PageTitle>Index</PageTitle>
<br />
<QuickGrid Class="table table-striped table-bordered" Items="@(context.Trip.Include(t => t.User).OrderBy(t => t.StartDate))">
    <PropertyColumn Property="trip => trip.TripName" />
    <PropertyColumn Property="trip => trip.Country" />
    <PropertyColumn Property="trip => trip.StartDate" Format="dd/MM/yyyy" />
    <PropertyColumn Property="trip => trip.EndDate" Format="dd/MM/yyyy" />
    
    <TemplateColumn Context="trip">
        <a href="@($"trips/edit?id={trip.Id}")" class="btn btn-secondary btn-sm">Edit  </a> |
        <a href="@($"trips/details?id={trip.Id}")" class="btn btn-info btn-sm">Details  </a> |
        <a href="@($"trips/delete?id={trip.Id}")" class="btn btn-danger btn-sm">Delete  </a>
    </TemplateColumn>
</QuickGrid>

<div class="action-container">
    <a href="trips/create" class="btn btn-primary add-trip-btn rounded-pill">
        <i class="fas fa-plus-circle"></i> Add New Trip
    </a>
</div>

@code {
    private TravelPlanningContext context = default;
    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}

<style>
    .action-container {
        margin-top: 20px;
        text-align: right;
    }

    .btn-primary {
        background-color: darkslateblue;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }

        .btn-primary:hover {
            background-color: #483d8b;
            transform: translateY(-2px);
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

    .add-trip-btn {
        font-weight: 500;
        text-decoration: none;
    }

    .table {
        margin-bottom: 0;
    }
</style>