@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>User List</PageTitle>
    
            <h1 class="mb-4 text-center">User List</h1>

            
                <QuickGrid Class="table table-striped table-bordered" Items="context.User">
                    <PropertyColumn Property="user => user.Id" Title="ID" />
                    <PropertyColumn Property="user => user.UserName" Title="User Name" />
                    <PropertyColumn Property="user => user.DomainUsername" Title="Domain Username" />
                    <PropertyColumn Property="user => user.DateCreated" Title="Date Created" />

                    <TemplateColumn Context="user" Title="Actions">
                        <AuthorizeView Roles="Administrator">
                            <div class="d-flex gap-2">
                                <a class="btn btn-sm btn-primary" href="@($"users/details?id={user.Id}")">Details</a>
                                <a class="btn btn-sm btn-danger" href="@($"users/delete?id={user.Id}")">Delete</a>
                            </div>
                        </AuthorizeView>
                    </TemplateColumn>
                </QuickGrid>
            

@code {
    private TravelPlanningContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
