@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]


<PageTitle>Index</PageTitle>

<h1>User List</h1>



<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Id" />
    <PropertyColumn Property="user => user.UserName" />
    <PropertyColumn Property="user => user.DomainUsername" />
    <PropertyColumn Property="user => user.DateCreated" />

    <TemplateColumn Context="user">
        <AuthorizeView Roles="Administrator">
        <a hidden href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelPlanningContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
