 @page "/Create"

<PageTitle>Create Itinerary</PageTitle>
<div class="text-center">
    <h2> Plan your new trip </h2>
</div>
<form>
    <div class="form-group">
        <label for="Destination">Heading to?</label>
        <input class="form-control" type="text" placeholder="Location">
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6 col-lg-5 mb-3 mb-sm-0">
            <label for="startDate">Start Date</label>
            <input id="startDate" class="form-control" type="date" />
        </div>
        <div class="col-sm-6 col-lg-5">
            <label for="endDate">End Date</label>
            <input id="endDate" class="form-control" type="date" />
        </div>
    </div>
</form>
