@page "/"

<PageTitle>Home</PageTitle>

<body class="background-gif">
    <div class="container">
        <!-- Hero Section -->
        <div class="bg-image" style="background-image: url('/images/travel.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;max-width:100%; padding:140px; color: white; text-align: center;">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="py-8 py-lg-0 text-center">
                        <h1 class="display-2 fw-bold mb-3 text-primary">
                            <span class="header bg-secondary bg-gradient text-white display-5">Welcome to RoutePlanner!</span>
                        </h1>
                        <p class="mb-6 h1 text-dark">
                            All in one place 
                            </p>
                        <p class="MB-6 h4 text-dark">
                            Discover more adventures and destinations.<br/>
                            Create your own personalised itinerary.📆
                        </p>
                        <br/>
                        <a href="../logIn.html" class="btn btn-primary me-2" aria-label="Log in to RoutePlanner">Log In</a>
                        <a href="../sign-up.html" class="btn btn-outline-primary" aria-label="Sign up for RoutePlanner">Sign Up</a>

                        <div class="mt-7 mb-0">
                            <ul class="list-inline">
                                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4 me-3 mb-2">
                                    <span class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2">
                                        <i class="bi bi-check text-success"></i>
                                    </span>
                                    ✔️ Easy to use
                                </li>
                                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4 me-3 mb-2">
                                    <span class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2">
                                        <i class="bi bi-check text-success"></i>
                                    </span>
                                    ✔️ Forward Planning
                                </li>
                                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4">
                                    <span class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2">
                                        <i class="bi bi-check text-success"></i>
                                    </span>
                                    ✔️ No hidden charges
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
</body>
