@page "/Idea"
<PageTitle>Travel Idea</PageTitle>

<h3>Explore & Discover Your Own Voyage!</h3>
<br />
<h5>By Country:</h5>

<style>
    .card-img-top {
        height: 300px;
        object-fit: cover;
    }
</style>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a href="/Idea/Japan" style="text-decoration: none;">
                    <img src="/images/japan.jpg" class="card-img-top" alt="Japan" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Japan</h5>
                        <p class="card-text">Discover the beauty of Japan!</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Idea/Korea" style="text-decoration: none;">
                    <img src="/images/korea.png" class="card-img-top" alt="Korea" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Korea</h5>
                        <p class="card-text">Ride the Korean wave!</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Idea/London" style="text-decoration: none;">
                    <img src="/images/london.jpg" class="card-img-top" alt="London" />
                    <div class="card-body text-center">
                        <h5 class="card-title">London</h5>
                        <p class="card-text">Let's do London.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Idea/Bali" style="text-decoration: none;">
                    <img src="/images/bali.jpg" class="card-img-top" alt="Bali" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Bali</h5>
                        <p class="card-text">Bali: Your Gateway to Paradise.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Planning/Italy" style="text-decoration: none;">
                    <img src="/images/italy.webp" class="card-img-top" alt="Italy" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Italy</h5>
                        <p class="card-text">Italy. Open to Wonder.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Create?location =Thailand" style="text-decoration: none;">
                    <img src="/images/thailand.webp" class="card-img-top" alt="Thailand" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Thailand</h5>
                        <p class="card-text">Amazing Thailand: Your Stories Never End.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Create?location =Australia" style="text-decoration: none;">
                    <img src="/images/australia.jpg" class="card-img-top" alt="Australia" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Australia</h5>
                        <p class="card-text">Come and Say G'day</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Create?location =Taiwan" style="text-decoration: none;">
                    <img src="/images/taiwan.jpg" class="card-img-top" alt="Taiwan" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Taiwan</h5>
                        <p class="card-text">Waves of Wonder</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="/Create?location =Norway" style="text-decoration: none;">
                    <img src="/images/norway.webp" class="card-img-top" alt="Norway" />
                    <div class="card-body text-center">
                        <h5 class="card-title">Norway</h5>
                        <p class="card-text">Powered By Nature</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
