@page "/plan/{TripId:int}"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<h3>TravelPlan</h3>

<a href="/activities/create/@TripId" class="button selection">🕹️ Activities</a>
<a href="/flights/create/@TripId" class="button selection">🚃 Flight</a>
<a href="/lodgings/create/@TripId" class="button selection">🏨 lodging</a>
<a href="/restaurants/create/@TripId" class="button selection">🍽️ Restaurant</a>

<hr />

@code {
    [Parameter]
    public int TripId { get; set; }

    private Trip? trip;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        trip = await context.Trip.FindAsync(TripId);
    }
}