@page "/plan/{TripId:int}"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<div class="background-gif">
<h3 class="text-center">Travel Plan</h3>

<div class="button-container">
    <a href="/activities/create/@TripId" class="custom-button">🕹️ Activities</a>
    <a href="/flights/create/@TripId" class="custom-button">🚃 Flight</a>
    <a href="/lodgings/create/@TripId" class="custom-button">🏨 Lodging</a>
    <a href="/restaurants/create/@TripId" class="custom-button">🍽️ Restaurant</a>
</div>
</div>

@code {
    [Parameter]
    public int TripId { get; set; }

    private Trip? trip;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        trip = await context.Trip.FindAsync(TripId);
    }
}

