@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Identity
@using TravelPlanning.Data

@inject NavigationManager NavigationManager
@inject SignInManager<TravelPlanningUser> SignInManager
@inject UserManager<TravelPlanningUser> UserManager

<div class="page">

    <NavMenu />

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>