.card-body {
    background-color: white;
    
}

.card {
    border-radius: 12px;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
    }


.card-header {
    background-color: rebeccapurple;
    color: white;
    border-bottom: 1px solid #e9ecef;
}

.btn-outline-primary:hover {
    background-color: rgba(0,123,255,0.1);
}
.button {
    background-color: snow;
    border: none;
    color: darkblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.selection {
    border-radius: 12px;
}