@page "/itineraryplans"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<PageTitle>Index</PageTitle>

<QuickGrid Class=" table table-striped table-bordered" Items="context.ItineraryPlan">
    <PropertyColumn Property="itineraryplan => itineraryplan.Activities" />
    <PropertyColumn Property="itineraryplan => itineraryplan.Budget" />
    <PropertyColumn Property="itineraryplan => itineraryplan.UserId" />
    <PropertyColumn Property="itineraryplan => itineraryplan.DestinationId" />
    <PropertyColumn Property="itineraryplan => itineraryplan.DateCreated" />
    <PropertyColumn Property="itineraryplan => itineraryplan.DataUpdated" />
    <PropertyColumn Property="itineraryplan => itineraryplan.CreatedBy" />
    <PropertyColumn Property="itineraryplan => itineraryplan.UpdatedBy" />

    <TemplateColumn Context="itineraryplan">
        <a href="@($"itineraryplans/edit?id={itineraryplan.Id}")">Edit</a> 
        <a href="@($"itineraryplans/details?id={itineraryplan.Id}")">Details</a> 
        <a href="@($"itineraryplans/delete?id={itineraryplan.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<p>
    <a href="itineraryplans/create" class="btn btn-primary">+ New Trip</a>
</p>
@code {
    private TravelPlanningContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
