.button {
    background-color: darkblue;
    border: medium;
    color: snow;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}

.create {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
