@page "/destinations"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelPlanning.Domain
@using TravelPlanning.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="destinations/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Destination">
    <PropertyColumn Property="destination => destination.Name" />
    <PropertyColumn Property="destination => destination.Country" />
    <PropertyColumn Property="destination => destination.StartDate" />
    <PropertyColumn Property="destination => destination.EndDate" />
    <PropertyColumn Property="destination => destination.ActivityId" />
    <PropertyColumn Property="destination => destination.TransportId" />
    <PropertyColumn Property="destination => destination.AccomId" />
    <PropertyColumn Property="destination => destination.DateCreated" />
    <PropertyColumn Property="destination => destination.DataUpdated" />
    <PropertyColumn Property="destination => destination.CreatedBy" />
    <PropertyColumn Property="destination => destination.UpdatedBy" />

    <TemplateColumn Context="destination">
        <a href="@($"destinations/edit?id={destination.Id}")">Edit</a> |
        <a href="@($"destinations/details?id={destination.Id}")">Details</a> |
        <a href="@($"destinations/delete?id={destination.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelPlanningContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
